<section class="brand-carousel">
    <div class="brand-carousel__logo-container">
        <img src="https://www.jonesroadbeauty.com/cdn/shop/files/vogue-logo-whote_x26.png?v=1635869190" />
    </div>
    <div class="brand-carousel__logo-container">
        <img src="https://www.jonesroadbeauty.com/cdn/shop/files/wsj-3x_x26.png?v=1636569753" />
    </div>
    <div class="brand-carousel__logo-container">
        <img src="https://www.jonesroadbeauty.com/cdn/shop/files/FC_Logo_2018_amgwhf_x26.png?v=1635869345" />
    </div>
    <div class="brand-carousel__logo-container">
        <img src="https://www.jonesroadbeauty.com/cdn/shop/files/Allure_logo.svg_6a154b4f-edfa-416e-ad5e-27f8278610a3_x26.png?v=1635869304" />
    </div>
</section>

<style>
  .brand-carousel {
  background: #000;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 2rem 1rem;
  gap: 2rem;
}

.brand-carousel__logo-container {
  margin: auto;
  width: fit-content;
}
</style>