<h2>Products</h2>

{%  assign products = collections['hydrogen'].products %}

{% for product in products %}
  {% unless section.settings.hide_soldout and product.available == false %}
    <li>
      <a style="color: {{ section.settings.link_color }};" href="{{ product.url }}">
        {{ product.title }} - {{ product.price }}
      </a>
      </li>
    {% endunless %}
{% endfor %}

{% schema %}
{
  "name": "Products",
  "settings": [
    {
      "type": "checkbox",
      "id": "hide_soldout",
      "label": "Hide Sold Out Products",
      "default": true
    },
    {
      "type": "color",
      "id": "link_color",
      "label": "Link Color",
      "default": "#000"
    }
    ],
    "presets": [{
      "name": "Products",
      "settings": {}
    }]
}
{% endschema %}