<h1>Hi Moemen, I'm Just Testing 😊</h1>
<h2>Tags & Filters</h2>

{%  assign products = collections['hydrogen'].products %}

{% for product in products %}
  <h1>{{ product.title }} - {{ product.price | money }}</h1>
{% endfor %}