<h2>Products</h2>

{%  assign products = collections['hydrogen'].products %}

{% for product in products %}
  <li>
    <a style="color: {{ settings.link_color }};" href="{{ product.url }}">
      {{ product.title }} - {{ product.price }}
    </a>
  </li>
{% endfor %}